/*
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'),
         url('https://github.com/yihui/xaringan/releases/download/v0.1/yanone-kaffeesatz.woff') format('woff');
  }
  @font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Serif'), local('DroidSerif'),
         url('https://github.com/yihui/xaringan/releases/download/v0.1/droid-serif.woff') format('woff');
  }
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'),
         url('https://github.com/yihui/xaringan/releases/download/v0.1/source-code-pro.woff') format('woff');
  }
  
  */
  /* body { font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Songti SC', serif; }
  h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz', 'Palatino Linotype', 'Book Antiqua', Palatino, 'STHeiti', 'SimHei', 'Microsoft YaHei';
    font-weight: normal;
  }

  


   ul{
    font-family: 'Noto Serif CJK TC Medium'; 
      font-size: 29px; 
      line-height: 35px; 
    } 
    
  
 

  p{
      font-family: 'Noto Serif CJK TC Medium>';
      font-size: 30px;
  }
  
  .remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
  */
/*  

  .img-right{
    width: 100%;
    height: 300%;
    float: right;
  } */
  
  .red {
    color: #ff00008e;
  }
  
  .green{
    color: #004d4d
  }
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  
  }

  .small{
    font-size: 80pt;
  }
  /* css styles */

  .blue-text {
    color: blue;
}

